*{
 box-sizing: border-box;
color:white;
}
html, body {
  height: 100%;
  /* width:100vw; */
  margin: 0;
  padding: 0;
} 
body{
  display: flex;
   justify-content: center; 
  align-items: center;
}
 
.weather{
  height: 28rem;
  width: 24rem;
  padding: 0.1rem;
background-image:linear-gradient(45deg,#0b235e,#520beb);
display: flex;
flex-direction: column;
align-items: center;
border: 0.1rem solid black;
border-radius: 1rem;
}

.input{
  display: flex;
  flex-direction: row;
}

.main{
  display: flex;
  justify-content: center; 
  align-items: center;
  padding :0.1rem;
}
.input input{
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-image:linear-gradient(45deg,#edeff5,#6d31ee);
  height: 2.5rem;
 width: 18rem;
 color:#041c58;
} 
.input input:hover{
border: 1px solid white;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image:linear-gradient(45deg,#a3b6f0,#6d31ee) ;  */
  width: 3rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 0.3rem;
  cursor:pointer;
}
.icon i{
 font-size: 1.5rem;
 color:white;
  }
  .city h3{
    color:#d4d5d6;
}
  .data{
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .data i{
    margin-right: 0.5rem;
    font-size: 22px;
  }
  .data p{
    color: #d4d5d6;
  }
 @media (max-width:768px) {
    .weather{
      height: auto;
      width: 90%;
      background-image: linear-gradient(45deg, green,rgba(178, 255, 142, 0.712));
      font-size: 16px;
    }
    @media (max-width: 768px) and (orientation: landscape) {
  .weather {
    width: 60%;
    height: 90%;
    background-image: linear-gradient(45deg,rgb(245, 145, 145),rgb(184, 8, 8));
font-size: 16px;
  }
}
.icon{
  margin-left:0.2rem ;
  }
  .input input{
  width:13rem;
}
  }